.abrir{
  margin: 115px;
  padding:6px;
  background-color: #F0AB00;
  cursor:pointer;
}
.abrir:hover{
  background-color: #F5DC60;
}
.cerrar{
  float:right;
  margin: 5px;
  height:22px;
  width:22px;
  color:#ffffff;
  background-color: #ff0000;
  text-align:center;
  cursor:pointer;
}
.ventana{
  border: 2px solid #666666;
  position: sticky;
  width:max-content;
  visibility: hidden;
  border-radius: initial;
  box-shadow: 10px 10px 10px #111;
  padding: 10px;
}
#ventana1{
  z-index: 10;
  right: 50%;
  top: 10%;
  background-color: rgba(256,256,256,0.98);
}
