<!DOCTYPE html>
<html>
   <head>
      <title>{% block title %}{% endblock %}</title>
      <meta charset="utf-8">
      <meta name="description" content="Traveling HTML5 Template" />
      <meta name="author" content="Design Hooks" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
      <link href="{{url_for('static', filename = 'img/favicon.png')}}" type="image/x-icon" rel="shortcut icon" />
      <link href="{{url_for('static', filename = 'css/screen.css')}}" rel="stylesheet" />
   </head>
   <body class="home" id="page">
      <!-- Header -->
      <header class="main-header">
         <div class="container">
            <div class="header-content">
               <a href="/">
                  <img src="{{url_for('static', filename = 'img/logo.jpeg')}}" alt="site identity" />
               </a>

               <nav class="site-nav">
                  <ul class="clean-list site-links">
                     <li>
                        <a href="/">Inicio</a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </header>
    {% block contenido %}
    {% endblock %}
         <!-- Parallax Box -->
         <div class="parallax-box">
            <div class="container">
               <div class="text align-center">
                  <h1>Para que disfrutes de estos eventos (solo, familia, amigos, pareja)</h1>
                  <p>Aqui podras encontrar todos los eventos proximos a tu ubicacion</p>
               </div>
            </div>
         </div>

        
      <!-- Footer -->
      <footer class="main-footer">
         <div class="container">
            <div class="row">
               <div class="col-md-9">
                  <div class="widget widget_social">
                     <h5 class="widget-title">Introduce tu correo para subscribirte</h5>
                     <form class="subscribe-form">
                        <div class="input-line">
                           <input type="text" name="subscribe-email" value="" placeholder="Tu Dirección De Correo" />
                        </div>
                        <button type="button" name="subscribe-submit" class="btn btn-special no-icon">Enviar</button>
                     </form>

                     <ul class="clean-list social-block">
                        <li>
                           <a href="#"><i class="icon-facebook"></i></a>
                        </li>
                        <li>
                           <a href="#"><i class="icon-twitter"></i></a>
                        </li>
                        <li>
                           <a href="#"><i class="icon-google-plus"></i></a>
                        </li>
                     </ul>
                  </div>
               </div>

               <div class="col-md-5">
                  <div class="widget widget_links">
                     <h5 class="widget-title">Contacto</h5>
                     <ul>
                        <li><a href="#">Gmail</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!-- Scripts -->
      <script src="{{url_for('static', filename = 'js/jquery.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/functions.js')}}"></script>
   </body>
</html>

