{% extends "base.html" %}
{% block title %}TODA LA INFORMACIÓN SOBRE EL EVENTO{% endblock %}
{% block contenido %}
        <link href="{{url_for('static', filename = 'css/ventana.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename = 'css/screen.css')}}" rel="stylesheet" />
        <div class="parallax-box">
         <div class="container">
            <div class="text align-center">
               {% for elem in filtro -%}   
               <h2 class="formatotitulo"><u><font color="black"><b>{{elem[0].upper()}}</b></font></u></h2><br><br>
               <h2><font color="black"><b>Si haces click sobre "Ver Detalles", tendras acceso a toda la informacion sobre el evento que buscas</b></font></h2><br><br>
               <h2><font color="black"><b>ADELANTE! NO ESPERES MAS PARA SABERLO TODO!</b></font></h2><br><br>
               <span class="abrir" onclick="document.getElementById('ventana1').style.visibility='visible'">Ver Detalles</span>
               <div class="ventana" id="ventana1">
                   <span class="cerrar" onclick="document.getElementById('ventana1').style.visibility='hidden'">x</span>
                            <!-- Destinations Section -->
                       <section class="section section-destination">
                        <!-- Title -->
                          <div class="section-title">
                             <div class="container">
                                <h3>________________</h3>
                                <h3>{{elem[0].upper()}}</h3>
                                <ul id="lista5">
                                    <li>País: {{elem[1]}}</li>
                                    <li>Ciudad: {{elem[2]}}</li>
                                    <li>Sala: {{elem[3]}}</li>
                                    <li>Dirección: {{elem[4]}}</li>
                                    <li>Fecha: {{elem[5]}}</li>
                                    <li>Hora: {{elem[6]}}</li>
                                    <li><u><a href="{{elem[7]}}">Comprar entrada</a></u></li>
                                    <li><u><a href="{{elem[8]}}">Ver entradas en sala</a></u></li>
                                </ul>
                                {% endfor -%}
                             </div>
                          </div>   
                      </section>
                   </div>
            </div>
         </div>
      </div>
       
{% endblock %}
